<div id="make-group-form">
<div class="login-form" >
<form action="index.html" method="post">
      
    <h1>Add a group</h1>
    
    <fieldset>
      <legend><span class="number">1</span>Your basic info</legend>
      <label for="groupName">Group Name:</label>
      <input type="text" id="groupName" name="groupName">

      <label for="groupMembers">Number of Members:</label>
      <input type="number" id="groupMembers" name="groupMembers">
    </fieldset>
    
    <fieldset>
      <legend><span class="number">2</span>Your profile</legend>
      <label for="bio">Biography:</label>
      <textarea id="bio" name="user_bio"></textarea>
    </fieldset>

  <fieldset>

      <label>Do you/groupmates drink?</label>
      <input type="radio" id="drink_yes" value="drink_yes" name="drink"><label for="drink_yes" class="light">Yes</label>&nbsp
      <input type="radio" id="drink_no" value="drink_no" name="drink"><label for="drink_no" class="light">No</label>

      <label>Do you/groupmates smoke?</label>
      <input type="radio" id="smoke_yes" value="smoke_yes" name="smoke"><label for="smoke_yes" class="light">Yes</label>&nbsp
      <input type="radio" id="smoke_no" value="smoke_no" name="smoke"><label for="smoke_no" class="light">No</label>

      <label>Vegetarian?</label>
      <input type="radio" id="veg_yes" value="veg_yes" name="vegetarian"><label for="veg_yes" class="light">Yes</label>&nbsp
      <input type="radio" id="veg_no" value="veg_no" name="vegetarian"><label for="veg_no" class="light">No</label>
            
  </fieldset>


    <button type="submit">Add my group</button>
  </form>
</div>
</div>