<div id="signup-form">
<div class='login-form'>
    <form action="index.html" method="post">
    
      <h1>Sign Up</h1>
      
      <fieldset>
        <legend><span class="number">1</span>Your basic info</legend>

        <input name="form_type" value="signup_form" type="hidden">
        <label for="name">Name:</label>
        <input type="text" id="signup_name" name="name" value="hello">
        
        <label for="mail">Phone:</label>
        <input type="number" id="signup_phone" name="phoneNo" value="6696867987">

        <label for="mail">Email:</label>
        <input type="email" id="signup_mail" name="email" value="hello@hellow.com">
        
        <label for="password">Password:</label>
        <input type="password" id="signup_password" name="password" value="passowrd_hello">
        
      </fieldset>
      
      
      </fieldset>
      <button type="submit" id="signup-button">Sign Up</button>
    </form>
</div>    
</div>