*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

.favourite{
    margin-left: 10px;
    color: red;
    font-size: 40px;
}

.favourite:hover{
    margin-left: 10px;
    color: rgb(199, 18, 18);
    font-size: 40px;
}

.card{
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    /* background-color: #fba511; */
    padding: 15px;
    width: 715px;
    height: 247px;
    position: relative;
}


.result-container{

    padding: 30px;  
}

.card:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.53);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.53);
}

.card_image{
    background-color: blueviolet;
    width: 292px;
    height: 165px;
    background-size: cover;
}

.card_heading{
    border-bottom: 1px solid #ECECEC;
}

.card_right_div{
    padding-left: 15px;
    width: calc(100% - 292px);
}
.card_container{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.find_mates{
    position: absolute;
    color: greenyellow;
    font-size: 40px;
    right: -45px;
}
.card_seller_info{
    display: flex;
    padding: 2px;
    /* justify-content: space-between; */
    width: 292px;
}
.card_seller_image{
    background-size: cover;
    flex: initial;
    width: 44px;
    height: 44px;
}


.card_highlights{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ECECEC;
    
}
.card_info{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.card_description{
    padding: 5px;
}

.card_description p{
    white-space:nowrap;
    overflow:hidden;
}
.seller_info{
    /* width: 182px; */
    padding-left: 10px;
    overflow: hidden;
    flex: 2;
    white-space: nowrap;
}
.seller_name{
    display: inline-block;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    max-width: 100%;
    color: #444;
    text-transform: capitalize;
    margin-top: 2px;
    cursor: pointer;
}
.seller_profeciency{
    margin-top: 4px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fba511;
    letter-spacing: -.5px;
}
.seller_rating{
    flex: initial;
    color: white;
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 2px 2px 0;
    text-align: center;
    font-size: 11px;
    background-color: #20a255;
    display: inline-block;
}
.seller_rating_container {
    text-align: right;
}
.seller_rating_count{
    font-size: 10px;
    line-height: 11px;
    text-align: right;
    color: #666;
}
.price_per_sq, .area_unit, .card_description{
    font-size: .8em;
    padding: 2px;
    color: rgb(153, 153, 153);
}

.card_info{
    font-size: .8em;
    padding: 2px;
}

.location {
    font-size: 1em;
    padding: 2px;
    color: rgb(153, 153, 153);
}

.total_price, .total_area, .construction_status{
    font-size: 1.2em;
}

.cbtn {
    position: relative;
    padding: 0px 20px;
    border: 1px solid #e81c28;
    border-radius: 20px;
    cursor: pointer;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    text-decoration: none;
}

.cbtn.cbtn-p {
    color: white;
    border-color: #e81c28;
    background-color: #e81c28;
}

.card_buttons{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px;
  
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a{
    padding:5px;
    text-decoration: none;
    color: rgb(143, 143, 143);
}

.pagination a:hover{
    color: #ff0011af;
}


/* .cbtn span{
    color: white;
} */

.phone_number{
    display: none;
}

@media screen and (max-width: 700px){
   
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
        /* flex-wrap: wrap; */
    }

     .card_left_div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card_right_div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center;  
        margin-top: 10px;
        width: auto;
        height: auto;
    }
    .card_heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card_image{
        display: inline;
    } 
}

/* ///////////// */

